*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

html{
    height: 100%;
}

/*Raíz*/
:root{
    /*Cores*/
    --background-botao-principal: rgb(58, 127, 249);
    --background-fundo: rgb(255, 255, 255);
    --background-verificao-input: rgb(88, 135, 212);
    --color-hover-link: rgb(15, 73, 166);
    --color-texto-principal: rgb(43, 44, 51);
    --color-texto-secundario: rgb(194, 194, 194);
    --branco: rgb(255, 255, 255);
    --texto-input: rgb(0, 0, 0);
    
    /* Tamanhos */
    --font-size-principal: 22px;
    --font-size-secundario: 15px;
    --font-size-outros: 13px;
}

[data-theme="dark"]{
    --background-botao-principal: rgb(249, 188, 58);
    --background-fundo: rgb(43, 44, 51);
    --background-verificao-input: rgb(212, 160, 88);
    --color-hover-link: rgb(189, 105, 64);
    --color-texto-principal: rgb(255, 255, 255);
    --color-texto-secundario: rgb(198, 195, 195);
    --branco: rgb(255, 255, 255);
    --texto-input: rgb(255, 255, 255);
}
/*Raíz*/

/* Mobile First */

.container-fundo{
    width: 100%;
    background-color: var(--background-fundo);
    height: 100dvh;
    display: flex;
    align-items: center;
}

.container-esquerda{
    width: 90%;
    height: 95%;
    margin: 0 auto;
    background-color: var(--background-fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Cabeçalho */

header{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

header span{
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--background-botao-principal);
}

header span a{
    color: var(--color-texto-principal);
    text-decoration: none;
}

header button{
    background-color: var(--background-fundo);
    border: 2px solid var(--color-texto-secundario);
    color: var(--color-texto-secundario);
    font-size: calc(var(--font-size-outros)*1.3);
    border-radius: 100px;
    padding: 4px 10px;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    right: 0;
}

header button:hover{
    border: 2px solid var(--background-verificao-input);
    color: var(--background-verificao-input);
}


/* Cabeçalho*/


/* Principal */

main{
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 40px; 
    text-align: center;
    height: 100%;
    justify-content: start;
    width: 90%;
    max-width: 450px;

}

main form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

main h2{
    font-size: var(--font-size-secundario);
    color: var(--color-texto-principal);
}

main h1{
    font-size: var(--font-size-principal);
    color: var(--color-texto-principal);
}

.input-group{
    position: relative;
    display: flex;
    align-items: center;
}

.input-group input{
    width: 100%;
    padding: 1rem 2.5rem 1rem 1rem;
    border: 2px solid var(--color-texto-secundario);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background-color: var(--background-fundo);
    color: var(--texto-input);
}

.input-group label{
    position: absolute;
    top: -0.6rem;
    left: 0.85rem;
    background-color: var(--background-fundo);
    padding: 0 0.5rem;
    font-size: var(--font-size-outros);
    color: var(--color-texto-secundario);
    font-weight: bold;
    transition: 0.5s;
}

.input-group input:focus{
    border: 2px solid var(--background-verificao-input);
}

.input-group input:focus + label {
  color: var(--background-verificao-input);
}

.input-group span,button.icon{
    position: absolute;
    right: 0.85rem;
    color: var(--color-texto-secundario);
    cursor: pointer;
    border: none;
    background: none;
}

.input-group span:hover,button.icon:hover{
    color: var(--background-verificao-input);
}



main form button[type="submit"]{
    background-color: var(--background-botao-principal);
    color: var(--branco);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 10px 0;
    font-weight: 600;
    font-size: var(--font-size-outros);
    transition: 0.7s;
}

main form button[type="submit"]:hover{
    background-color: var(--color-hover-link);
    cursor: pointer;
}

main .divider{
    display: flex;
    align-items: center;
    color: var(--color-texto-secundario);
    text-align: center;
    font-size: var(--font-size-outros);
    margin-bottom: 15px;
}

.divider::before,
.divider::after{
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--color-texto-secundario);
}

.divider span{
    margin: 0 0.5rem;
}

.flexContas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;   
}

.flexContas button{
    border: 1px solid var(--color-texto-secundario);
    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--background-fundo);
    font-size: var(--font-size-secundario);
    color: var(--color-texto-principal);
    transition: 0.5s;
}

.flexContas button:hover{
    background-color: var(--color-texto-secundario);
    cursor: pointer;
    color: var(--background-fundo);
}

/* Principal */


/* Rodapé */

footer a{
    text-decoration: none;
    color: var(--background-botao-principal);
    font-weight: 600;
}

footer a:hover{
    color: var(--color-hover-link);
}

footer p{
    color: var(--color-texto-principal);
}

/* Rodapé */

/* Mobile First */

/* Responsividade Desktop */

@media screen and (min-width: 1100px) {
    .container-fundo{
        background-image: url(./assets/fundc.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .container-esquerda{
        width: 45%;
        height: 100%;
        margin: 0;
        padding: 20px 0;
    }

    header button{
        right: 15px;
    }

    main{
        width: 75%;
    }
    main h2{
        font-size: calc(var(--font-size-secundario)*1.3);
    }

    main h1{
        font-size: calc(var(--font-size-principal)*1.3);
    }
}

/* Responsividade Desktop */