*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    height: 100vh;
    width: 100%;
}

:root{
    --vermelho: red;
    --azul: blue;
    --verde: green;
    --preto: black;
    --branco: white;
}

section#quadrados{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div1{
    height: 200px;
    width: 200px;
    background-color: var(--azul);
    transition: background-color 3s linear 0.5s;
}

.div1:hover{
    background-color: var(--preto);
}

.div2{
    height: 200px;
    width: 200px;
    background-color: var(--preto);
    transition: transform 3s linear, background-color 3s linear;
}

.div2:hover{
    transform: scale(2);
    background-color: var(--verde);
}

.div3{
    height: 200px;
    width: 200px;
    background-color: var(--vermelho);
    transition: border-radius 2s ease-in-out, transform 2s ease-in-out;
}

.div3:hover{
    border-radius: 200px;
    transform: scale(0.5);
}


section#header{
    background-color: var(--preto);
    color: var(--branco);
    font-size: 2rem;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

section#header ul{
    display: flex;
    width: 60%;
    justify-content: space-around;
    list-style-type: none;
}

section#header ul li{
    background-color: var(--preto);
    padding: 20px;
    transition: background-color 1s ease-in, border-radius 1s ease-in, padding 1s ease-in, transform 1s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#header ul li:hover{
    background-color: var(--vermelho); 
    border-radius: 100px;
    padding: 5px;
    cursor: pointer;
    transform: scale(0.7);
}

 

/*
Transições:
selector {
  transition: property duration timing-function delay;
}
selectior:hover{
  property: newValue;
}
- property: qual propriedade vai ser animada (color, transform, background-color...)
- duration: tempo da transição (0.3s, 1s, 200ms)
- timing-function: curva de aceleração da mudança
    Valores comuns:
        - ease (default, começa devagar, acelera, desacelera)
        - linear (velocidade constante)
        - ease-in (lento no início, rápido depois)
        - ease-out (rápido no início, lento depois)
        - ease-in-out (lento → rápido → lento)
- delay: atraso para iniciar a transição

Animações:
@keyframes nomeAnimacao{
  from { transform: translateX(0); } modifique disso
  to { transform: translateX(100px); } para isso
}
Usando: 
div {
  animation: nomeAnimacao 2s ease-in-out infinite alternate;
}
A estrutura de animation é semelhante ao transition. Porém tem 3 atributos extras:
- iteration-count: quantas vezes vai repetir (1, 3, infinite).
- direction: 
   direção do ciclo:
      - normal: do início ao fim
      - reverse: do fim ao início
      - alternate: vai e volta
      - alternate-reverse: volta e vai.
- fill-mode: 
   controla estado inicial/final:
      -none (default, volta ao normal depois)
      - forwards (mantém último quadro)
      - backwards (aplica estilo inicial durante delay)
      -both (combina os dois)

EX:
animation: mover 2s ease-in-out 1s infinite alternate both;

Transformers mais usados:
- transform: translate(x, y);  move (100px)
- transform: rotate(deg); gira (45deg)
- transform: scale(x, y); redimensiona (px)
- transform: skew(x, y); inclina (px)

* Usar opacity e transform: são propriedades que não causam reflow (recalcular layout), mais performáticas.
* Evitar animar width, height, top, left, margin: podem causar travamentos em dispositivos modestos.
* Use will-change: transform, opacity; para avisar o navegador de que o elemento será animado:
   Usar apenas quando: Há animações contínuas ou repetitivas (loaders, paralax, carrosséis). Se perceber micro-travamentos (lag) ao iniciar a transição.

   EX: Ele informa quais propriedades vamos usar.
   .div2 {
        will-change: transform, opacity;
        transition: transform 5s ease-in-out, opacity 2s ease;
    }
*/