*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
}

:root{

    /*Fundos*/
    --background-sidebar: rgb(10, 17,28);
    --background-sidebar-hover: rgb(47, 54, 66);
    --background-fundo: rgb(249, 249, 249);
    --background-graficos-escuro: rgb(0, 102, 255);
    --background-graficos-claros: rgb(178, 209, 254);

    /*Cores*/
    --color-itens: rgb(255, 255, 255);
    --color-verde: rgb(31, 184, 123);
    --color-roxo: rgb(124, 37, 233);
    --color-letras-sidebar: rgb(115, 122, 133);
    --color-bordas-main: rgb(220, 220, 220); 
    --color-rosa: rgb(233, 30, 99);

    /*Tamanhos*/
    --font-size-principal: 3rem;
    --font-size-secundario: 2rem;
    --font-size-geral: 1.6rem;
    --font-size-logo: 1.7rem;
    --font-size-valores: 1.7rem;

}

[data-theme="dark"]{
    /*Fundos*/
    --background-sidebar: rgb(10, 12, 15);
    --background-sidebar-hover: rgb(40, 46, 57);
    --background-fundo: rgb(41, 41, 41);
    --background-graficos-escuro: rgb(7, 74, 174);
    --background-graficos-claros: rgb(74, 101, 142);

    /*Cores*/
    --color-itens: rgb(51, 51, 51);
    
}

/* Container-Geral Grid */

.container-geral{
    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: 220px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "sidebar main main"
    "sidebar main main"
}

#sidebar{
    grid-area: sidebar;
    background-color: var(--background-sidebar);
    display: flex;
    flex-direction: column;
}

aside #logo{
    font-size: var(--font-size-logo);
    color: white;
    border-bottom: 1px solid var(--color-letras-sidebar);
    padding: 1.5rem 2rem;
} 

#sidebar nav{ 
    padding: 2rem;
    flex: 1;
}

#sidebar nav ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
    height: 100%;
}

#sidebar nav ul li a i{
    width: 2rem;
    text-align: center;
    font-size: 1.6rem;

}

#sidebar nav ul li a{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
    transition: 0.4s;
}

#sidebar nav ul li a:hover{
    background-color: var(--background-sidebar-hover);
    color: var(--color-itens);
}

#sidebar nav ul li.sair{
    margin-top: auto;
    border-radius: 5px;
}
#sidebar nav ul li.sair a{
    color: white;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: 0.4s;
}

#sidebar nav ul li.sair a:hover{
    color: var(--color-roxo);
}

#sidebar nav ul li a{
    text-decoration: none;
    color: var(--color-letras-sidebar);
    font-size: var(--font-size-geral);
}

main{
    grid-area: main;
    display: grid;
    background-color: var(--background-fundo);
    grid-template-rows: auto 1fr 2fr;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "titulo . ."
    "resumo resumo maisVendido"
    "desempenho desempenho recentes";
    padding: 3rem 5rem;
    gap: 3rem;
}

#titulo{
    grid-area: titulo;
}

#titulo h2{
    font-size: var(--font-size-principal);
}

#titulo p{
    font-size: var(--font-size-geral);
}

h2{
    font-size: var(--font-size-secundario);
}

.borda{
    border: 1px solid var(--color-bordas-main);
    border-radius: 5px;
}

.resumoVendas{
    grid-area: resumo;
    background-color: var(--color-itens);
    display: flex;
    flex-direction: column;
}

section div.resumovendasdiv{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.resumoVendas article{
    color: var(--color-itens);
    font-size: var(--font-size-geral);
    padding: 1rem 1.5rem;
    border-radius: 5px;
}

section .articleverde{
    background-color: var(--color-verde);
}
section .articleroxo{
    background-color: var(--color-roxo);
}
section .articleazul{
    background-color: var(--color-rosa);
}

.maisVendido{
    grid-area: maisVendido;
    background-color: var(--color-itens);
}

.maisVendido article{
    font-size: var(--font-size-geral);
    margin-top: 2rem;
}


.desempenho{
    grid-area: desempenho;
    background-color: var(--color-itens);
}

.desempenho figure{
    width: 100%;
}

.desempenho figure img{
    width: 100%;
}

.recentes{
    grid-area: recentes;
    background-color: var(--color-itens);
}

.pedidosRecentes{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pedidosRecentes article{
    padding: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: 0.5s;
}

.pedidosRecentes article:hover{
    background-color: rgb(225, 225, 225);
}

section:not(#titulo){
    padding: 1rem 2rem;
}



/* Container-Geral Grid */
